.page__title {
  font-size: 20pt;
  font-weight: bold;
}

.logo {
  width: 10%;
  height: 10%;
  margin: 0;
  padding: 0;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}